:root {
    --sider-bg-color: #32A2AC;
}

.avatar-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}


/* Menu */
.ant-layout-sider-children {
    background-color: var(--sider-bg-color);
}

