.summary-input,
.points-input,
.description-textarea,
.ant-select.ant-select-in-form-item.type-select .ant-select-selector,
.ant-select.ant-select-in-form-item.sprint-select .ant-select-selector,
.ant-select.ant-select-in-form-item.priority-select .ant-select-selector,
.ant-select.ant-select-in-form-item.reporter-select .ant-select-selector,
.ant-select.ant-select-in-form-item.assignee-select .ant-select-selector {
    border: none;
    border-radius: 8px;
    transition: none;
    outline: none;
    box-shadow: none !important;
}

.summary-input {
    font-size: 16px;
    font-weight: 600;
}

.points-input {
    border-radius: 8px 0 0 8px;
}

.ant-select.ant-select-in-form-item.reporter-select .ant-select-selector,
.ant-select.ant-select-in-form-item.assignee-select .ant-select-selector {
    height: 34px;
}

.ant-select.ant-select-in-form-item.type-select,
.ant-select.ant-select-in-form-item.sprint-select,
.ant-select.ant-select-in-form-item.priority-select,
.ant-select.ant-select-in-form-item.reporter-select,
.ant-select.ant-select-in-form-item.assignee-select {
    width: 140px;
}

.summary-input:hover,
.description-textarea:hover {
    border: 2px solid #000;
}

.points-input:hover,
.ant-select.ant-select-in-form-item.type-select .ant-select-selector:hover,
.ant-select.ant-select-in-form-item.sprint-select .ant-select-selector:hover,
.ant-select.ant-select-in-form-item.priority-select .ant-select-selector:hover,
.ant-select.ant-select-in-form-item.reporter-select .ant-select-selector:hover,
.ant-select.ant-select-in-form-item.assignee-select .ant-select-selector:hover {
    background-color: #efefef;
}

.assignee-avatar,
.reporter-avatar {
    margin-right: 8px;
}

.select-username-text {
    margin-top: 1px;
}

#newBacklog .ant-form-item-label {
    min-width: 78px;
}

.new-backlog-btn {
    margin-left: 16px;
}
