.project-backlog-container {
  padding: 16px 8px;
}

.project-backlog-title-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.7em;
}

.project-backlog-title {
  margin-bottom: 0.2em !important;
}
