.scrum-board-container {
  display: inline-block;
  min-width: 100%;
  min-height: 100%;
}

.scrum-board-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;
}
