.scrum-board-container {
  display: inline-block;
  min-width: 100%;
  min-height: 100%;
  transform: none;
}

.scrum-board-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;
  gap: 1em;
  transform: none;
}
