.main-content-container {
  padding: 24px;
}

.limited-width {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.main-content-container-gap > *:not(:last-child) {
  display: block;
  margin-bottom: 24px;
}

@media only screen and (max-width: 992px) {
  .main-content-container {
    padding: 16px;
  }

  .main-content-container-gap > *:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: 576px) {
  .main-content-container {
    padding: 8px;
  }

  .main-content-container-gap > *:not(:last-child) {
    margin-bottom: 8px;
  }
}
