.project-backlog-status-draggable {
  padding-right: 22px;
  background-color: lightblue;
  display: flex;
  margin-bottom: 16px;
  position: relative;
}

.project-backlog-status-draggable .ant-form-item {
  margin-bottom: 0;
  width: 100%;
}

.project-backlog-status-delete-button {
  display: flex;
  align-items: center;
  padding: 0 2px;
  cursor: pointer;
}

.project-backlog-status-delete-button span {
  visibility: hidden;
}

.project-backlog-status-delete-button:hover {
  background-color: red;
}

.project-backlog-status-delete-button:hover span {
  visibility: visible;
}
