.backlog-inputnumber {
  border: none;
  transition: none;
  outline: none;
  box-shadow: none !important;
  border-radius: 8px 0 0 8px;
}

.backlog-inputnumber:hover {
  background-color: #efefef;
}
