.backlog-card-points.ant-input-number {
  width: 72px;
  height: 32px;
  border-radius: 8px;
  min-width: 28px;
  border: none;
}

.backlog-card-points.points-active.ant-input-number,
.backlog-card-points.ant-input-number:hover {
  background: #ededed;
}

.backlog-card-points input {
  text-align: center;
}

.backlog-card-points.ant-input-number-status-error {
  border: 1px solid;
}
