li.backlog-card-container {
  background: #fff;
  border: 1px solid #eee;
  padding: 12px;
}

.backlog-card-container div {
  margin-right: 8px;
}

.backlog-card-summary {
  display: flex;
  flex: 1 1 0%;
}

span.assignee-avatar {
  margin-right: 4px;
}

.backlog-card-points {
  background: #ededed;
  border-radius: 8px;
  min-width: 28px;
  text-align: center;
}

.backlog-card-high-priority,
.backlog-card-medium-priority,
.backlog-card-low-priority {
  padding: 0 6px;
  text-align: center;
  border-radius: 8px;
}

.backlog-card-high-priority {
  background: #ca2828;
  color: #fff;
}

.backlog-card-medium-priority {
  background: #ebd42f;
  color: #000;
}

.backlog-card-low-priority {
  background: #2f84eb;
  color: #fff;
}
