li.backlog-card-container {
  background: #fff;
  border: 1px solid #eee;
  padding: 12px;
}

.backlog-card-container div {
  margin-right: 8px;
}

.backlog-card-id {
  word-break: break-all;
  width: 60px;
}
