.retrospective-container-card {
  margin: 5px;
  width: 33%;
  display: flex;
  flex-flow: column;
}

.retrospective-container-card .ant-card-head-title {
  text-align: center;
}

.retrospective-container-card .ant-card-body {
  padding: 12px;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
}

.retrospective-container-card-body {
  min-height: 2vh;
  overflow-y: auto;
}

.retrospective-container-card-footer {
  margin-top: auto;
}

.retrospective-container-form .ant-form-item {
  margin-bottom: 0;
}

.retrospective-container-form input {
  height: 44px;
}
