.scrum-board-card-container {
  width: 260px;
}

.scrum-board-card-container .ant-card-body {
  padding: 12px;
}

.scrum-board-card-container .backlog-card-id {
  width: 52px;
}

.scrum-board-card-details {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.scrum-board-card-type {
  width: 27px;
}

.scrum-board-card-points {
  padding: 2px 0;
  border-radius: 8px;
  width: 26px;
  text-align: center;
}

.scrum-board-card-points.points-active {
  background-color: #ededed;
}

.scrum-board-card-priority {
  width: 60px;
  border-radius: 8px;
  padding: 2px;
  text-align: center;
}

.scrum-board-card-priority.very_high-priority,
.scrum-board-card-priority.high-priority {
  background: #ca2828;
  color: #fff;
}

.scrum-board-card-priority.medium-priority {
  background: #ebd42f;
  color: #000;
}

.scrum-board-card-priority.very_low-priority,
.scrum-board-card-priority.low-priority {
  background: #2f84eb;
  color: #fff;
}

.scrum-board-card-assignee {
  width: 28px;
}

.scrum-board-card-details span,
.scrum-board-card-details div,
.scrum-board-card-details input,
.scrum-board-card-details .ant-avatar.ant-avatar-icon {
  font-size: 12px;
}
